body {
  font-family: "helvetica neue";
  background-image: linear-gradient(
    90.6deg,
    rgba(59, 158, 255, 1) -1.2%,
    rgba(246, 135, 255, 1) 91.6%
  );
  min-height: 100vh;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.379);
  backdrop-filter: blur(5px);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  margin-bottom: 20px;
}
.navbar-nav a {
  font-size: 20px;
  margin: 0 20px;
  padding: 3px;
}
/*  */
h1 {
  color: #fff;
  padding: 10px;
  font-size: 20px;
}

.box {
  max-width: 400px;
  margin: 40px auto;
  background-color: rgba(255, 255, 255, 0.242);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  /* background-color: #a683e3; */
  background-color: rgba(255, 255, 255, 0.098);
  backdrop-filter: blur(5px);
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #a683e3;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #a683e3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #a683e3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
  cursor: pointer;
  transition: 0.6s;
  opacity: 0.8;
}
button:hover {
  opacity: 1;
}
input[type="text"] {
  text-align: center;
  height: 40px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #a683e3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
/*  */
